* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    color: #1967e3;
    text-decoration: none;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.line1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.line3{
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
